/mysql/versions
/mysql/mysql-*.tar.gz
/postgresql/versions
/postgresql/postgresql-*.tar.gz
/redis/versions
/redis/redis-*.tar.gz
/mongodb/versions
/mongodb/mongodb-*.tar.gz
/memcached/versions
/memcached/memcached-*.tar.gz
/memcached/libevent-*.tar.gz
.DS_Store
